body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

form {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #0074D9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    color: #333;
    margin-top: 20px;
}

p {
    margin: 5px 0;
}

#edadPromedio {
    font-weight: bold;
}
