body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    
}

h1 {
    color: #333;
}

form {
    border: 1px solid #333;
    padding: 20px;
    display: inline-block;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    margin-top: 5px;
}

button {
    margin-top: 10px;
}

button#calculateButton {
    background-color: #0074D9;
    color: #fff;
}

button#clearButton {
    background-color: #FF4136;
    color: #fff;
}

button:hover {
    cursor: pointer;
}

.result-section {
    display: none;
}

#result {
    margin-top: 20px;
}
